# <font color='blue'>Data Science Analysis Supriments </font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'>Análise de Dados Para Suprimentos</font>

## Instalando e Carregando os Pacotes

In [504]:
# Imports
import math
import sys, os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import watermark 
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [505]:
sys.path.append(os.path.abspath(os.path.join('modulos')))
from estrategia1 import *
from estrategia2 import *
from estrategia3 import *

In [506]:
# Created file the all libery the project
!pip freeze > requirements.txt

In [507]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Marcelo Henrique" --iversions

Author: Marcelo Henrique

seaborn   : 0.13.2
ipywidgets: 8.1.2
sys       : 3.8.20 (default, Oct  3 2024, 15:19:54) [MSC v.1929 64 bit (AMD64)]
json      : 2.0.9
matplotlib: 3.7.2
watermark : 2.5.0
pandas    : 2.0.3
IPython   : 8.12.2
numpy     : 1.24.3

### Carregando DFs

In [545]:
#AnaliseSupriSLA1Trimestre_025 = pd.read_excel("dados/AnaliseSupriSLA1Trimestre_025.xlsx")
#BasePorInsumo = pd.read_excel("dados/BasePorInsumo.xls")
#CustoPorNivel = pd.read_excel("dados/CustoPorNivel.xls")
#RelatorioDeSolicitacoes = pd.read_excel("dados/RelatorioDeSolicitacoes.xls")
#RelatorioMapaControlePedidosDanfes_entrada = pd.read_excel("dados/RelatorioMapaControlePedidosDanfes_entrada.xls")
#RelatorioSaldoDePedidos_fatDireto_obra_52010_VA =pd.read_excel("dados/RelatorioSaldoDePedidos_fatDireto_obra_52010_VA.xls")

## Análise Exploratória

In [548]:
# Aqui estamos chamando todos os nomes dos df para facilitar! 
# Filtrar variáveis que são DataFrames
dfs = {var: obj for var, obj in globals().items() if isinstance(obj, pd.DataFrame)}

# Exibir os nomes dos DataFrames carregados
print("DataFrames carregados:", list(dfs.keys()))

DataFrames carregados: ['AnaliseSupriSLA1Trimestre_025', 'BasePorInsumo', 'CustoPorNivel', 'RelatorioDeSolicitacoes', 'RelatorioMapaControlePedidosDanfes_entrada', 'RelatorioSaldoDePedidosFatDireto52010', '_90', '_92', '_94', '_96', '_101', '_108', '_119', '_123', '_125', '_127', '_129', '_131', '_133', '_137', '_139', '_141', '_147', '_149', '_153', 'df', '_185', '_187', '_189', '_191', '_193', '_195', '_200', '_276', '_278', '_280', '_282', '_284', '_286', '_291', '_378', '_383', '_430', '_459', '_463']

In [549]:
## Salvando o df original na variavel df! 
df = pd.read_csv("dados/AnaliseSupriSLA1Trimestre_025.csv", sep=";")  # Ou tente sep="," ou sep="\t"

In [550]:
df.isna().sum()

Insumo                 0
Obra                   0
Data                   0
Solicitante            0
Solicitação            0
Aut.                   0
Dt. aut               25
Qt. pendente           0
Un.                    0
Qt. atendida           0
Sd.                    0
Dt. previsão           0
Dt. atend.            48
Diferença              0
Sla Atendimentos      23
Aditivo               48
Depto solicitante     25
Dentro do prazo       15
Fora do prazo        206
dtype: int64

In [551]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Insumo             221 non-null    object
 1   Obra               221 non-null    object
 2   Data               221 non-null    object
 3   Solicitante        221 non-null    object
 4   Solicitação        221 non-null    int64
 5   Aut.               221 non-null    object
 6   Dt. aut            196 non-null    object
 7   Qt. pendente       221 non-null    object
 8   Un.                221 non-null    object
 9   Qt. atendida       221 non-null    object
 10  Sd.                221 non-null    object
 11  Dt. previsão       221 non-null    object
 12  Dt. atend.         173 non-null    object
 13  Diferença          221 non-null    int64
 14  Sla Atendimentos   198 non-null    float64
 15  Aditivo            173 non-null    object
 16  Depto solicitante  196 non-null    object
 17  Dentro do prazo    206 non-null    object
 18  Fora do prazo      15 non-null     object
dtypes: float64(1), int64(2), object(16)
memory usage: 32.9+ KB

In [552]:
df.describe()

       Solicitação   Diferença  Sla Atendimentos
count   221.000000  221.000000        198.000000
mean   2342.398190    7.728507          2.489899
std      75.189728   13.579682          1.932201
min    2211.000000    0.000000          0.000000
25%    2278.000000    0.000000          1.000000
50%    2342.000000    4.000000          3.000000
75%    2407.000000    9.000000          3.000000
max    2470.000000   74.000000         15.000000

In [589]:
df.columns = (df.columns
              .str.strip()  # Remove espaços extras no início e no fim
              .str.replace(r"[.\s]", "_", regex=True)  # Substitui pontos e espaços por "_"
              .str.lower()  # Converte para minúsculas
             )

In [591]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [592]:
df.columns

Index(['insumo', 'obra', 'data', 'solicitante', 'solicitação', 'aut_',
       'dt__aut', 'qt__pendente', 'un_', 'qt__atendida', 'sd_', 'dt__previsão',
       'dt__atend_', 'diferença', 'sla_atendimentos', 'aditivo',
       'depto_solicitante', 'dentro_do_prazo', 'fora_do_prazo'],
      dtype='object')

### Tratamento da Coluna "dt__aut"

In [596]:
df.dt__aut.isnull().mean()*100

11.312217194570136

In [597]:
convert_to_datetime(df, ["dt__aut"])

In [600]:
df.dt__aut.value_counts()

dt__aut
2025-02-25    18
2025-02-04    17
2025-01-28    16
2025-03-07    15
2025-03-20    15
2025-02-11    12
2025-03-17    11
2025-03-11     9
2025-01-24     9
2025-01-16     9
2025-01-29     6
2025-01-23     6
2025-02-05     5
2025-02-26     5
2025-02-19     5
2025-03-12     4
2025-02-17     3
2025-01-14     3
2025-03-13     3
2025-02-21     3
2025-02-14     3
2025-02-13     3
2025-03-14     2
2025-02-24     2
2025-03-18     2
2025-01-13     2
2025-03-10     1
2025-01-08     1
2025-02-10     1
2025-01-21     1
2025-03-19     1
2025-03-06     1
2025-01-20     1
2025-01-31     1
Name: count, dtype: int64

In [560]:
df.dt__aut.mode()

0   2025-02-25
Name: dt__aut, dtype: datetime64[ns]

### Realização de imputação com a Moda/ pois pegamos a media que as informações apareceram o colocamos a moda!

In [602]:
df.dt__aut.isna().sum()

25

In [604]:
print(df.columns)

Index(['insumo', 'obra', 'data', 'solicitante', 'solicitação', 'aut_',
       'dt__aut', 'qt__pendente', 'un_', 'qt__atendida', 'sd_', 'dt__previsão',
       'dt__atend_', 'diferença', 'sla_atendimentos', 'aditivo',
       'depto_solicitante', 'dentro_do_prazo', 'fora_do_prazo'],
      dtype='object')

## Tratando Variavel "dt__atend_"

In [607]:
df.dt__atend_.isna().sum() # COntando Valores Ausentes

48

In [608]:
df.dt__atend_.isnull().mean()*100  #Porcentagem de valores ausentes

21.71945701357466

In [609]:
df.dt__atend_.head(2)

0    28/02/2025
1    26/02/2025
Name: dt__atend_, dtype: object

In [610]:
df.dt__atend_.mode()

0    03/02/2025
Name: dt__atend_, dtype: object

### Realização de imputação com a Moda/ pois pegamos a media que as informações apareceram o colocamos a moda!

In [612]:
# Imputação com a moda
df.dt__atend_.fillna("03/02/2025", inplace = True)

## Tratando variavel "sla_atendimentos"

In [614]:
df.sla_atendimentos.isna().sum()

23

In [615]:
df.sla_atendimentos.dtype

dtype('float64')

In [616]:
df.sla_atendimentos.head()

0    3.0
1    5.0
2    4.0
3    2.0
4    1.0
Name: sla_atendimentos, dtype: float64

## Valores ausentes na coluna ['sla_atendimentos'] foram substituídos por seu valor de mediana sla_atendimentos    3.0

In [618]:
fix_missing_median(df,["sla_atendimentos"])

sla_atendimentos    23
dtype: int64 valores ausentes na coluna ['sla_atendimentos'] foram substituídos por seu valor de mediana sla_atendimentos    3.0
dtype: float64.

     sla_atendimentos
0                 3.0
1                 5.0
2                 4.0
3                 2.0
4                 1.0
..                ...
216               0.0
217               3.0
218               3.0
219               3.0
220               0.0

[221 rows x 1 columns]

In [619]:
convert_to_datetime(df, ["sla_atendimentos"])

### Tratamente Variavel "Aditivo"

In [621]:
df.aditivo.isna().sum()

48

In [622]:
fix_missing_value(df, ["aditivo"], "Null")

aditivo    48
dtype: int64 valores ausentes na coluna ['aditivo'] foram substituídos por Null.

    aditivo
0       Não
1       Sim
2       Sim
3       Não
4       Não
..      ...
216    Null
217    Null
218    Null
219     Não
220    Null

[221 rows x 1 columns]

In [623]:
convert_to_string(df, ["aditivo"])

In [624]:
df.aditivo.isna().sum()

0

## Tratamento da Variavel "Depto solicitante"

In [626]:
df.depto_solicitante.isna().sum() # Calcula Valor de Numeros ausentes

25

In [627]:
# Calcula o percentual de valores ausentes na variável salary
df.depto_solicitante.isnull().mean()*100

11.312217194570136

### O valor da Variavel "depto_solicitante" é inferior a 30% entao iremos praticar a imputação de dados no df

In [629]:
df.depto_solicitante.dtype

dtype('O')

In [630]:
df.depto_solicitante.head(5)

0                 Engenharia
1    Planejamento/orçamentos
2                   Juridico
3                 Engenharia
4                   Produtos
Name: depto_solicitante, dtype: object

### Iremos imputar valor NAN para cada linha com valores ausentes pois são variaveis String "Categorica"

In [635]:
fix_missing_value(df, ["depto_solicitante"], "Null")

depto_solicitante    25
dtype: int64 valores ausentes na coluna ['depto_solicitante'] foram substituídos por Null.

           depto_solicitante
0                 Engenharia
1    Planejamento/orçamentos
2                   Juridico
3                 Engenharia
4                   Produtos
..                       ...
216                     Null
217               Engenharia
218               Engenharia
219                Marketing
220                     Null

[221 rows x 1 columns]

## Tratamento da Variavel Dentro do prazo

In [675]:
df.dentro_do_prazo.isna().sum()

0

In [661]:
df.dentro_do_prazo.dtype

dtype('O')

In [671]:
df.dentro_do_prazo.head()

0    Sim
1    NaN
2    Sim
3    Sim
4    Sim
Name: dentro_do_prazo, dtype: object

### Iremos imputar valor NAN para cada linha em *"dentro_do_prazo"* com valores ausentes pois são variaveis String "Categorica"

In [673]:
fix_missing_value(df, ["dentro_do_prazo"], "Null")

dentro_do_prazo    15
dtype: int64 valores ausentes na coluna ['dentro_do_prazo'] foram substituídos por Null.

    dentro_do_prazo
0               Sim
1              Null
2               Sim
3               Sim
4               Sim
..              ...
216             Sim
217             Sim
218             Sim
219             Sim
220             Sim

[221 rows x 1 columns]

## Tratamento da Variavel fora_do_prazo

In [686]:
df.fora_do_prazo.isna().sum()

206

In [688]:
# Calcula o percentual de valores ausentes na variável salary
df.fora_do_prazo.isnull().mean()*100

93.21266968325791

In [690]:
df.depto_solicitante.dtype

dtype('O')

In [ ]:
fix_missing_value(df, ["fix_missing_value"])